<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Todo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="addDB()" expand="block" fill="clear" shape="round">
    Add
  </ion-button>

  <ion-button (click)="readDb()" expand="block" fill="clear" shape="round">
    read
  </ion-button>

  <!-- <ion-logo></ion-logo>

  <ion-input type="number" placeholder="Awesome Input" [(ngModel)]="numberA"></ion-input>
  <ion-input type="number" placeholder="Awesome Input" [(ngModel)]="numberB"></ion-input>

  <ion-button (click)="calculate()" expand="block" fill="clear" shape="round">
    calculate
  </ion-button>
  
  <ion-logo></ion-logo> -->

  <!-- <ion-card color="secondary" *ngFor="let item of card">
    <ion-card-header *ngIf="item == 'card 2'">
      <ion-card-subtitle>First card</ion-card-subtitle>
      <ion-card-title>{{ item }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Awesome content
    </ion-card-content>
  </ion-card>

  <ion-card color="tertiary" *ngFor="let item of cardObject">
    <ion-card-header>
      <ion-card-subtitle>{{ item.subtitle }}</ion-card-subtitle>
      <ion-card-title>{{ item.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ item.content }}
    </ion-card-content>
  </ion-card> -->

</ion-content>